.mdnd--shadow {opacity: 0.3;}.drag-item.dragging {display: none;}.drag-item.dropping {}.mdnd--mirror {opacity:0.7;position:fixed;top:0;left:0;pointer-events:none;z-index:9999;will-change:transform;overflow:hidden;}
