body, html {
    background: #111111;
    color: #ffffff;
    font-family: Helvetica, Arial;
}

#examples {
    padding: 20px;
}

.dnd-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    background: #666666;
    min-height: 30px;
}

.dnd-list .drag-item, .mdnd--mirror .drag-item, .dnd-list .mdnd--shadow {
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid;
    cursor: move;
    background: #222222;
    margin-bottom: -1px;
    padding: 5px;
}

.example1, .example2 {
    display: flex;
    justify-content: center;
}

.example1 .dnd-list, .example2 .dnd-list, .example3 .dnd-list, .example5 .dnd-list {
    width: 200px;
}

.example3 .dnd-list {
    display: inline-block;
    margin: 0 10px 10px;
    vertical-align: top;
}

.example4 .drag-item {
    cursor: auto;
    padding: 0;
}

.example4 .drag-item .title {
    display: inline-block;
    width: calc(100% - 10px);
    cursor: move;
    background: #4a9a5a;
}

.example4 .drag-item .title, .example4 .drag-item .content {
    padding: 5px;
}

.example5 .dnd-list {
    margin-left: auto;
    margin-right: auto;
}

.dnd-list li.green, .mdnd--mirror li.drag-item.green, .dnd-list li.mdnd--shadow.green {
    background: #4a9a5a;
}

pre {
    min-height: 50px;
    background: #333333;
    border: 1px dashed #555555;
    padding: 10px;
    overflow: auto;
    page-break-inside: avoid;
    max-width: 100%;
    word-wrap: break-word;
}
